:root{
    /*--dark-background: #443C68;
    --dark-sidebar-bg: #393053;*/
    --dark-text: #fff;
    --dark-background: #131417;
    --dark-sidebar-bg: #1E1F26;

    --light-background: #fff;
    --light-text: #000;
    --code-font: 'Telefon', Sans-Serif;
}

* {
    box-sizing: border-box; 
    font-family: 'Roboto', sans-serif;
  }
  body {
    display: flex;
    min-height: 100vh;
    flex-direction: row;
    margin: 0;
  }

  body.dark{
    background-color: var(--dark-background) !important;
    color: var(--dark-text);
  }
  .col-1 {
    background: var(--dark-background);
    flex: 1;
    z-index: 1;
  }

  .col-1 .sidebar{
    background-color: var(--dark-sidebar-bg);
    border-radius: 10px;
    padding: 10px;
    z-index: 2;
    position: -webkit-sticky; /* Safari */
    position: sticky;
    top: 5vh;
    margin-top: 10px;
    height: 90vh;
    box-shadow: rgba(255, 255, 255, 0.09) 0px 3px 8px;
  }
  .col-2 {
    display: flex;
    flex-direction: column;
    flex: 5;
  }
  .content {
    display: flex;
    flex-direction: row;
  }
  .content > article {
    flex: 4;
    min-height: 60vh;
  }
  header {
    height: 20vh;
  }
  header, article, nav {
    padding: 1em;
  }

.step h1{
    text-align: center;
    font-size: larger;
    font-weight: 600;
}

.step p a{
    color: #405cf5;
    text-decoration: none;
    font-weight: 600;
}
.button-section{
    display: flex;
    justify-content: center;
    margin-top: 20px;
    gap: 15px;
}

.step img{
    display: flex;
    justify-content: center;
    margin: 0 auto;
}

.codeblock{
  background-color: #43454F;
  border-radius: 5px;
  padding: 10px;
  color: white;
  font-family: var(--code-font);
  font-size: 14px;
}

.codeblock code{
    color: white;
    text-align: left;
}